.table-view .table-row-cell .table-cell {
    -fx-border-width: 0;
}

.table-view .table-row-cell {
    -fx-cell-size: 30px;
}

.table-view .table-row-cell .label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.table-view .table-row-cell:empty {
    -fx-cell-size: 30px;
}

/*.table-view .table-row-cell:hover {*/
/*    -fx-background-color: cornflowerblue;*/
/*}*/

/*.table-view .table-row-cell:selected {*/
/*    -fx-background-color: cornflowerblue;*/
/*}*/

/*.table-view .table-row-cell:selected .label {*/
/*    -fx-text-fill: #333333;*/

/*}*/



.table-view {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
}

/*.table-view .column-header-background {*/
/*    -fx-background-color: #f2f2f2; -fx-background-radius: 20px 20px 0px 0px; -fx-border-width: 0px 0px 1px 0px; -fx-border-color: gray;*/
/*    -fx-border-radius: 20px 20px 0px 0px;*/
/*}*/

/*.table-view {*/
/*    -fx-background-color: #f2f2f2; -fx-background-radius: 0px 0px 0px 0px; -fx-border-width: 0px 0px 1px 0px; -fx-border-color: gray;*/
/*    -fx-border-radius: 0px 0px 0px 0px;*/
/*}*/

.table-view .column-header-background .label {
    -fx-font-weight: bold; -fx-font-size: 14px; -fx-text-fill: #333333;
    -fx-alignment: center-left;
}

.table-view .column-header-background .column-header {
    -fx-background-color: white;  -fx-border-width: 0px 0px 1px 0px; -fx-border-color: gray;
    -fx-padding: 0px;
}


